//imports
@import 'default';
@import 'mediaQueries';

// variables
$dark: #121212;
$primary-color: #E4C1AE;

// extends
%button-primary {
    cursor: pointer;
    background: $primary-color;
    border: none;
    border-radius: 32px;
    width: 128px;
    height: 48px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    margin: 10px;
    color: #FFFFFF;
}
%button-primary-hover {
    background-color: white;
    color: $primary-color;
    box-shadow: 0 0 0 2px $primary-color;
    transition: background-color linear .2s;
}
// article element 
.main-container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    background: #FFFFFF;
    @include devices(tablet) {
        position: absolute;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    &_image {
        grid-area: 2 / 2 / 6 / 8;
        position: absolute;
        width: 100%;
        height: auto;
        align-self: center;
        @include devices(tablet) {
            grid-area: 1 / 1 / 2 / 2;
            left: 0;
            top: 0;
            width: 100%;
            height: inherit;
        }
        img {
            width: 100%;
            height: inherit;
        }
        }
    &_aside {
        grid-area: 2 / 9 / 6 / 15;
        position: absolute;
        width: 100%;
        height: auto;
        align-self: center;
        @include devices(tablet) {
            grid-area: 2 / 1 / 3 / 2;
            left: 0;
            top: 0;
            background: #fff;
            width: 100%;
            height: auto;
            padding-top: 20px;
        }
        &_title {
            color: $dark;
            font-size: 42px;
            font-weight: 700;
            line-height: 120%;
            margin: 10px;
            @include devices(tablet) {
                margin: 10px;
            }
        }
        &_content {
            color: $dark;
            font-size: 16px;
            font-weight: 300;
            line-height: 150%;
            margin: 10px;
            @include devices(tablet) {
                margin: 10px;
            }
        }
        &_button {
            @extend %button-primary;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 16px 40px;
            gap: 10px;
            left: 830px;
            top: 338px;
            @include devices(tablet) {
                margin: 10px;
            }
            &:hover {
                @extend %button-primary-hover;
            }
        }
    }
}
//modal/popup window
.modal-window {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    .modal-container {
        position: absolute;
        width: 90%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);  
        background: #FFFFFF;
        border-radius: 0.5rem;
        padding: 20px 20px;
        @include devices(tablet) {
            width: 90%;
            padding: 10px;
            margin-top: 10%;
        }
    }
    .modal-content {
        width: 100%;
        height: auto;
        @include devices(tablet) {
            
        }
        h1 {
            font-weight: 700;
            font-size: 42px;    
            line-height: 120%; 
            margin-top: 0; 
            @include devices(tablet) {
                font-size: 2rem;
            }
        }
        p {
            font-weight: 300;
            font-size: 16px;
            line-height: 150%;
        }
        &_close-button {
            float: right;
            width: 1.5rem;
            text-align: center;
            cursor: pointer;
            color: black;
            &:hover {
                color: $dark;
                transform: scale(.8);
                transition: transform ease-in-out .2s;
            }
        }
        &_reset-button {
            @extend %button-primary; 
            display: none;
            &:hover {
                @extend %button-primary-hover;
            }
        }
        &_open-table-button {
            @extend %button-primary; 
            &:hover {
                @extend %button-primary-hover;
            }
        }
        &_table-container {
            overflow-x: auto;
        }
        &_table {
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            border-collapse: collapse;
            width: 100%;
            margin: 20px 0;
            thead {
                font-weight: 700;
                text-transform: uppercase;
            }
            td, th {
                padding: 8px;
            }
            tr {background-color: #fff;}
            tr:nth-child(even){
                background-color: #f2f2f2;
                &:hover {
                    background-color: #ddd;
                }
            }
            th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: $dark;
                color: white;
            }
            
        }


    }
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.visible {
    display: inline-block !important;
}
.tableAlign {
    top: 85% !important;
  }